{% load static %}

<style>
  .footer-modern {
    background-color: #212529; /* Same as Bootstrap's bg-dark */
  }

  .footer-modern a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .footer-modern a:hover {
    color: yellow;
  }
</style>

<!-- Footer Section -->
<footer class="footer-modern text-white pt-5 pb-4 bg-dark">
  <div class="container text-md-left">
    <div class="row text-md-left">
      <!-- Services -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Category</h5>
        <p><a href="#">Web Design</a></p>
        <p><a href="#">Development</a></p>
        <p><a href="#">Hosting</a></p>
        <p><a href="#">Graphic Design</a></p>
        <p><a href="#">Web Developers</a></p>
        <p><a href="#">Python</a></p>
        <p><a href="#">HTML5</a></p>
        <p><a href="#">CSS3</a></p>
      </div>

      <!-- About -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Company</h5>
        <p><a href="#">About Us</a></p>
        <p><a href="#">Team</a></p>
        <p><a href="#">Blog</a></p>
        <p><a href="#">Careers</a></p>
      </div>

      <!-- Company Info -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Iconic-Job</h5>
        <p>We build beautiful, responsive web apps and digital experiences that engage users and grow brands.</p>
      </div>

      <!-- Social -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mt-3 text-center">
        <h5 class="text-uppercase mb-4 font-weight-bold">Follow Us</h5>
        <a href="#"><i class="icon ion-social-facebook mr-3"></i></a>
        <a href="#"><i class="icon ion-social-twitter mr-3"></i></a>
        <a href="#"><i class="icon ion-social-instagram mr-3"></i></a>
        <a href="#"><i class="icon ion-social-linkedin"></i></a>
      </div>
    </div>

    <hr class="mb-4">
    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p>© 2025 Iconic-Job. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
